

 <form [formGroup]="activityForm" (ngSubmit)="submit()">

  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create A<span>C</span>tivity</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="onCancel.emit()"></button>
    </div>
    <div class="modal-body">

     
        <div class="mb-3">
          <label for="name">Name</label> <br>
          <input type="text" formControlName="name">
        </div>
    
        <div class="mb-3">
            <label for="min">Min. Participants</label> <br>
            <input type="number" formControlName="min">
        </div>
    
        <div class="mb-3">
            <label for="dateOfBirth">Min Participants</label> <br>
            <input type="number" formControlName="max">
        </div>
      
      
    </div>
    <div class="modal-footer">

      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>

<form>